odoo-addon-helpdesk_mgmt @ git+https://github.com/OCA/helpdesk.git@refs/pull/978/head#subdirectory=helpdesk_mgmt
odoo-addon-helpdesk_mgmt_sla @ git+https://github.com/OCA/helpdesk.git@refs/pull/1012/head#subdirectory=helpdesk_mgmt_sla
odoo-addon-helpdesk_type @ git+https://github.com/OCA/helpdesk.git@refs/pull/979/head#subdirectory=helpdesk_type
